body{
    width: 500px;
    height: 500px;
    margin: 60px;
    padding: 10px;
    background-color: white;
    border-left: 10px ;
    border-right: 10px ;
border-top: 10px ;
border-bottom: 10px;
border-style: solid;
border-color: gray;
    }

.outer{
    background-color:pink;
    border: 5px solid gray;
    width: 450px;
    height: 100px;
    margin: 7px;
    padding: 10px;
  
}
.img1{
    border-radius: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 60px;
    position: relative;
    right: 10px;

}
.img2{
    border-radius: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 60px;
    position: relative;
    right: 10px;

}
.head{
    width: 500px;
    height: 500px;
    margin: 60px;
    padding: 10px;
    background-color: white;
    border-left: 10px ;
    
border-top: 10px ;
border-bottom: 10px;
border-style: solid;
border-color: gray;
}

.outer p{
    color: rgb(14, 14, 14);
    text-align: center;
font-size: large;
top: 10px;
margin: -4px;
padding: -4px
}
.iner{
    background-color:pink;
    border: 5px solid gray;
    width: 450px;
    height: 60px;
    margin: 7px;
    padding: 10px;
   
}
a{
    text-align: center;
    color: red;
    margin: 10px;
    padding: 5px;
    position: relative;
    bottom: 10px;
    position: relative;
    bottom: -16px;
}
.three{
    background-color:pink;
    border: 5px solid gray;
    width: 450px;
    height: 60px;
    margin: 7px;
    padding: 10px;
}
.four{
    background-color:pink;
    border: 5px solid gray;
    width: 450px;
    height: 60px;
    margin: 7px;
    padding: 10px;
}